// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#indexWrapper {
  background-image: image_url('bild5.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}